@import "./variables";
@import "./mixins";
@import "./placeholders";

/****** Général ******/
*{
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

h1{
    font-family: 'shrikhand';
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    margin-left: 5px;
}
h2{
    font-weight: 300;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 5px;
    
}
h3{
    font-weight: 500;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 5px;
}
a{
    font-weight: 500;
    font-size: 16px;
}
html{
    overflow-x: hidden;
 }
 .line-green{
    @include line-green;
 }
 body{
    background-color: #f7f7f7;
 }

/****** Header ******/
header{
  @extend %flex-center;
  position: relative;
  }
  .fa-arrow-left{
    position: relative;
    right: 90px;
    width: 20px;
    height: 20px;
    color: #353535;
  }
  .fa-arrow-left{
    font-size: larger;
  }

.logo{
 width: 162px;
 height: 44px;
 padding-top: 14px;
 padding-bottom: 5px;
}
.photo{
    object-fit: cover;
    height: 275px;
    width: 100%;
}
/****** Main-container ******/
.main-container{
    background-color: #f7f7f7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    bottom: 60px;
    margin-bottom: -60px;
    @extend %flex-column;
}
.card-title{
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.fa-heart{
    position: absolute;
    font-size: x-large;
    top: 30px;
    cursor: pointer;
    
    }
.heart-full{
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;
   
}
.heart-full:hover{
    opacity: 1;
    color: transparent;
    background-image: linear-gradient($secondaire, $primaire);
    background-clip: text;
    -webkit-background-clip: text;
}
/****** Menu ******/
.menu{
    width: 95%
}
.card-menu{
    @include appear;
    animation: appear 1s ease-in-out;
    @include card-menu;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.card-description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
    h3, p{
      overflow: hidden;
      text-overflow: ellipsis; 
      white-space: nowrap;
        } 
          
}

.card-check{
    display: flex;
    justify-content: flex-end;
    margin-right: -60px;
    cursor: pointer;
    height: 30px;
    padding-left: 200px;
    position: relative;
    transition: all 1s ;
   
}
.price{
    font-weight: 700;
    font-size: 15px;
    color: #353535;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin-top: -17px;  
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 10px;
    background-color: $tertiaire;
    position: relative;
    bottom: -30px;
    
   } 
.spin{
    position: relative;
    bottom: 55px;
    height: 70px;
    background-color: $tertiaire;
}

.card-menu:hover{
    .card-description{
     width: 70%;
      }
      .checkbox{
        @include rotate;
         animation: rotate 1s ease-in-out;
        }     
      .card-check{
         margin-right: 0px;
        span{
            padding-right: 5px; 
        }
    }
}


.fa-circle-check{
    color: white;
    font-size: large;
}
.btn{
    @extend %flex-center;
    @include btn;
    margin-top: 50px;
    margin-bottom: 50px;   
}
.btn:hover{
        transform: scale(1.04);
    }
/******* Footer ******/
.footer{
    background-color: #353535;
    padding-left: 30px;
    padding-bottom: 5px;
    
    
}
.logo-footer{
    width: 138px;
    height: 27px;
    filter: invert(1);
    margin-bottom: 15px;
    margin-top: 20px;
}
.footer-icon{
    color: white;
}
.footer_link{
    text-decoration: none;
    color: white;
}
.icon-link{
    margin-bottom: 10px;
}
.footer_link1{
   margin-top: 1px;
}
.footer_link2{
    margin-top: 10px;
    padding-bottom: 10px;
}

/****** Media Queries ******/
@media (min-width: 1000px){

    body{
        background-color: white;
    }
    
    .fa-arrow-left{
        right: 0;
    }
    .arrow {
        position: relative;
        right: 400px;
    }
    .photo{
        height: 550px;
    }


    .main-container{
        width: 80%;
        left: 10%;
    
        
        
    }
    .card-title{
        display: flex;
        justify-content: center;
    }
    .menu{
        width: 60%;
    }

    .footer{
        height: 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 30px;
        article{
            display: flex;
            align-items: center;
        }
        .logo-footer{
            padding-right: 50px;
        }
        .icon-link{
            padding-top: 10px;
            padding-right: 20px;
        }
        .footer_link{
            padding-right: 30px;
        }
        
    }

}