@charset "UTF-8";
/****** couleurs ******/
/****** Layouts home ******/
/****** Restaurants ******/
/****** Animations *******/
.btn, .restaurant-address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .reservation, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****** Général ******/
* {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 17px;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/****** Loader ******/
.loader {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#FF79DA, #9356DC);
  position: fixed;
  z-index: 2;
  animation: disappear 0.5s 3s forwards;
  transform-origin: top;
}
@keyframes disappear {
  100% {
    transform: scale(0);
  }
}
.loader .svg-icon {
  stroke: darkmagenta;
  stroke-width: 3.1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader .svg-icon path:nth-child(1) {
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: anim 7s ease forwards;
}
.loader .svg-icon path:nth-child(2) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: anim 7s ease forwards;
}
.loader .svg-icon path:nth-child(3) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: anim 7s ease forwards;
}
.loader .svg-icon path:nth-child(4) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: anim 7s ease forwards;
}
.loader .svg-icon path:nth-child(5) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: anim 10s ease forwards;
}
.loader .svg-icon path:nth-child(6) {
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: anim 7s ease forwards;
}
.loader .svg-icon path:nth-child(7) {
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation: anim 7s ease forwards;
}
.loader .svg-icon path:nth-child(8) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 200px;
  animation: anim 7s ease forwards;
}
@keyframes anim {
  to {
    stroke-dashoffset: 0;
  }
}

/****** Header ******/
header {
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 162px;
  height: 44px;
  padding-top: 14px;
  padding-bottom: 5px;
}

.restaurant-address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
}

.fa-location-dot {
  margin-right: 20px;
}

/****** Resevation ******/
.reservation {
  text-align: center;
  background-color: #F6F6F6;
  height: 270px;
}
.reservation h2 {
  width: 70%;
  margin-top: 40px;
}
.reservation p {
  width: 80%;
  margin-top: -10px;
}

.btn {
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  color: white;
  margin-top: 10px;
}

/****** Fonctionnement ******/
.title-1 {
  padding-left: 27px;
}

.card-instruction {
  background-color: #F6F6F6;
  border-radius: 20px;
  width: 80%;
  height: 72px;
  margin-bottom: 20px;
}
.card-instruction p {
  font-weight: 500;
  font-size: 16px;
}

.instruction {
  padding-top: 10px;
}

.number {
  background-color: #9356DC;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  padding: 5px 10px;
  color: white;
  margin-left: -10px;
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
}

.icon-purple {
  color: #9356DC;
}

/****** Restaurants ******/
.title-2 {
  display: flex;
  width: auto;
  background-color: #F6F6F6;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-bottom: -5px;
  padding-left: 27px;
}

.restaurants {
  background-color: #F6F6F6;
  padding-bottom: 70px;
}

.card-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card {
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 270px;
  position: relative;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.card-txt {
  margin-left: 10px;
  margin-top: -10px;
}
.card-txt p {
  margin-top: -20px;
}

.fa-heart {
  position: absolute;
  left: 90%;
  bottom: 20px;
  font-size: x-large;
  cursor: pointer;
}

.heart-full {
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
}

.heart-full:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}

.box-new {
  position: relative;
  bottom: 250px;
  left: 72%;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  text-align: center;
}
.box-new p {
  padding-top: 5px;
  font-weight: 500;
  font-size: 14px;
}

/****** Footer ******/
.footer {
  background-color: #353535;
  padding-top: 20px;
  margin-top: -20px;
  padding-left: 30px;
  padding-bottom: 5px;
}

.logo-footer {
  width: 138px;
  height: 27px;
  filter: invert(1);
  margin-bottom: 15px;
  margin-top: 20px;
}

.footer-icon {
  color: white;
}

.footer_link {
  text-decoration: none;
  color: white;
}

.icon-link {
  margin-bottom: 10px;
}

.footer_link1 {
  margin-top: 1px;
}

.footer_link2 {
  margin-top: -10px;
  padding-bottom: 10px;
}

/****** Media Queries ******/
@media (min-width: 1196px) {
  /****** Header ******/
  header {
    height: 70px;
  }
  .logo {
    width: 200px;
    margin-top: 10px;
  }
  /****** Reservation ******/
  .reservation {
    height: 200px;
  }
  /****** Fonctionnement ******/
  .title-1 {
    padding-left: 18%;
  }
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .card-instruction {
    width: 20%;
  }
  /****** Restaurants ******/
  .title-2 {
    padding-left: 18%;
  }
  .card {
    width: 30%;
    flex-direction: row;
    justify-content: center;
  }
  .card-top {
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-top: 20px;
  }
  .card-bottom {
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin-top: 30px;
  }
  /****** Footer ******/
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
  }
  .footer article {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 30px;
  }
  .footer .logo-footer {
    height: 20px;
    margin-right: 30px;
  }
  .footer .footer_link1 {
    margin-top: 5px;
  }
  .footer .footer_link2 {
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */